* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
.btn {
  width: 9rem;
  height: 3.125rem;
  border-radius: 999px;
  background: #171100;
  padding: 0.7rem 2.56rem;
}

.btn:hover {
  opacity: 0.8;
}
.content {
  width: 1170px;
  margin-left: 135px;
  margin-right: 135px;
  max-width: calc(100% - 48px);
}
.hero {
  padding-bottom: 65px;
}
.header .body {
  display: flex;
  padding: 44px 0 12px;
}

.header {
  background: #fffcf4;
}

.header .fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

header .nav {
  margin: 0 4.38rem 0 32rem;
  margin-left: auto;
}

.header .nav ul {
  display: flex;
  justify-content: space-around;
}

.nav a:hover,
.nav li.active a {
  color: #171100;
  text-align: center;
  font-size: 1.6rem;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav li.active a::after {
  position: absolute;
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.25rem;
  border-radius: 0.2rem;
  background: #171100;
  left: 22px;
  bottom: 6px;
}

.header .action .btn {
  width: 9rem;
  height: 3.125rem;
  border-radius: 999px;
  background: #171100;
  padding: 1rem 3rem;
}

.header .action a {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
/* HERO */
.hero {
  padding-top: 64px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}
.hero .media-block {
  width: 46%;
  position: relative;
}

.hero .media-block .img {
  width: 450px;
  height: 650px;
  object-fit: cover;
}

.hero .media-block .hero-sumary {
  position: absolute;
  width: 270px;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
}
.hero-sumary .icon {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
  align-items: center;
  justify-content: center;
}

.hero-sumary .info {
  margin-left: 16px;
}

.hero-sumary .info .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.hero-sumary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .media-block .hero-sumary .item {
  display: flex;
  align-items: center;
}
.hero .media-block .hero-sumary .item + .item {
  margin-top: 22px;
}
.hero-sumary .item:nth-child(2) .icon {
  background-color: #fcefff;
}

.hero-sumary .item:nth-child(3) .icon {
  background-color: #ebeaff;
}
.hero .content-block {
  width: 54%;
  padding: 64px 0 0 154px;
}

.hero .content-block .heading {
  color: #171100;
  font-family: Sen, sans-serif;
  font-size: 51px;
  font-weight: 700;
  line-height: 60px; /* 117.241% */
  letter-spacing: -1.16px;
  margin-bottom: 22px;
}

.content-block .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 38px;
}

.content-block .cta-group .btn-cta {
  border-radius: 999px;
  background: #ffb900;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.content-block .cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -42px;
}

.content-block .cta-group .watch-video {
  background: #fffcf4;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-block .cta-group .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 28px;
  margin-right: 10px;
}

.content-block .cta-group .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.content-block .desc {
  color: #5f5b53;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}

.content-block .desc-cta {
  color: #5f5b53;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  gap: 50px;
  display: flex;
}

.content-block .desc-cta strong {
  color: #171100;
  font-family: Sen, sans-serif;
  font-size: 44px;
  font-weight: 700;
  padding-right: 8px;
}
/* Popular */
.popular {
  padding: 65px 0;
}

.popular .content {
  margin-top: 60px;
}

.popular .content .heading {
  color: #171100;
  font-family: Sen, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.0475rem;
}

.popular .content .desc {
  width: 28.625rem;
  color: #5f5b53;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 20px;
  width: 450px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
}

.controls .control-btn img {
  width: 90px;
  height: 40px;
  object-fit: contain;
}

.controls .control-btn {
  background: transparent;
  border: none;
  margin-top: 34px;
  margin-left: auto;
}

.popular-button {
  margin-top: 55px;
}

.popular-button .list {
  display: flex;
  justify-content: space-between;
}

.list .item {
  width: 350px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.list .item .img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.list .item .content-img {
  margin: 16px 22px;
}
.list .content-img h3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.title {
  display: flex;
  justify-content: space-between;
}
.evalue {
  display: flex;
  align-items: center;
  justify-content: center;
}
.evalue p {
  color: #fea31b;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}
.content-img .desc-01 {
  width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.price {
  display: flex;
  justify-content: space-between;
}
.price .price-now {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price .btn-book {
  width: 118px;
  height: 50px;
  border-radius: 25px;
  background: #ffb900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.btn-book:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* feedback */
.feedback {
  width: 100%;
  height: 380px;
  background-color: #2e2100;
  margin-top: 134px;
}

.feedback .content-01 {
  display: flex;
  padding: 96px 135px;
  gap: 90px;
}

/* .feedback .content-01 .profile {
  width: 30%;
}

.feedback .content-01 .feedback-desc {
  width: 70%;
} */

.profile {
  margin-left: -50px;
}
.profile img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.profile .name {
  width: 300px;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
}

.profile .major {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 24px;
}

.nav {
  display: flex;
}
.nav p {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
  margin-right: 6px;
}

.nav p:nth-child(2) {
  background: #ffb900;
}
.line-camp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-camp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.feedback-desc .desc {
  width: 700px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 300;
  line-height: 35px;
  position: absolute;
  left: 28px;
  bottom: -2px;
}

.feedback-desc {
  position: relative;
}

.feedback-desc img {
  width: 30px;
  height: 25px;
}
/* features */
.features .content {
  height: 438px;
  display: flex;
  margin-top: 200px;
}
.features__block {
  display: flex;
}

.features__block-img:first-child {
  width: 270px;
  height: 404px;
  margin-top: 34px;
  margin-right: 30px;
}

.features__block-img:last-child {
  width: 270px;
  height: 404px;
  flex-shrink: 0;
  margin-top: 0;
}

.features__content {
  margin-left: 130px;
}

.features__content--heading {
  width: 470px;
  color: #171100;
  font-family: Sen, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  margin-top: 58px;
  margin-bottom: 16px;
}

.features__content--desc {
  color: #5f5b53;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 458px;
  margin-bottom: 16px;
}

.features__content--report {
  color: #5f5b53;
  font-size: 16px;
  font-weight: 400;
  width: 458px;
  margin-bottom: 37px;
}

.features__content--btn {
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.features-02 .content {
  display: flex;
  margin-top: 200px;
}
.features__content-02 {
  margin-right: 130px;
}

.features__content--heading-02 {
  color: #171100;
  font-family: Sen, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  width: 570px;
  margin-top: 71px;
  margin-bottom: 16px;
}
.features__content--desc-02 {
  color: #5f5b53;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 570px;
  margin-bottom: 44px;
}

.features__content--btn-02 {
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.features__block img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}
.blog {
  margin-top: 200px;
  background: #fffcf4;
}
.blog__heading .head {
  margin-left: auto;
  margin-right: auto;
}

.blog .blog__heading {
  text-align: center;
}

/* blog */
.content.content-03 {
  padding: 96px 0;
}
.blog__heading--head {
  color: #130606;
  font-family: Sen, sans-serif;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.0475rem;
  margin-bottom: 16px;
}

.blog__heading--desc {
  display: inline-block;
  color: #696262;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 448px;
  margin-bottom: 55px;
}

.blog__list {
  display: flex;
  gap: 30px;
}

.blog__list--item .item {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.item_day {
  display: flex;
  align-items: center;
}

.info {
  margin-left: 20px;
}
.dot {
  width: 6px;
  height: 6px;
  background: #ffb900;
  border-radius: 50%;
  margin-right: 5px;
}
.item_day {
  margin-bottom: 12px;
  margin-top: 20px;
}
.day {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
}

.rectangle {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin-bottom: 13px;
}

.item__desc {
  width: 330px;
  color: #171100;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 12px;
}

.item__btn {
  width: 118px;
  height: 50px;
  border-radius: 25px;
  background: #171100;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border: none;
}
.blog__list--item {
  width: 370px;
  height: 467px;
  border-radius: 16px;
  background: #fff;
}

.blog__list--item:hover {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.item__btn a {
  color: #fff;
}
.item__btn:hover {
  background: #ffb900;
}

.dotss {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.dots {
  margin-top: 38px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #5f5b53;
}

.dots:hover {
  background: #ffb900;
}

.footer {
  background: #2e2100;
}
.footer .content-02 {
  padding: 96px 0 0 0;
}
.content__left {
  width: 38%;
}
.content__left .logo {
  color: #fff;
  font-family: Sen, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.message {
  width: 267px;
  margin: 18px 0;
  color: #bfbcb2;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.content_right {
  width: 62%;
}
.block {
  display: flex;
  justify-content: space-between;
}

.name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
}

.rectangle-02 {
  background: #59554b;
  margin-bottom: 28px;
}

.block__info a {
  display: block;
}

.block__info--child {
  color: #bfbcb2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 26px;
}
span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.L,
.E,
.P {
  color: #bfbcb2;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 12px;
}

.L {
  width: 231px;
}
.block-father {
  display: flex;
}
.rectangle-03 {
  margin-top: 26px;
  width: 1170px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.copyright {
  color: #807d74;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 28px;
  padding-bottom: 28px;
}
